body,
html {
  height: 100%;
  font-family: montserrat;
  color: #ffffff;
  text-align: center;
  scroll-behavior: smooth;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
 padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;

  width: 90%;
  height: 100%;
  margin: auto;
  overflow: auto; /* Enable scroll if needed */
  background-color: #b52424;

}
/* Navbar */
.navbar {
  height: 100%;
  background-color: #b52424;
  display: hidden; /* Hidden by default */
  position: absolute;
  padding: 1%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.navbar-menu {
  font-size: 60px;
  float: left;
  margin-top: 1%;
  margin-left: 15%;
}
.navbar-menu:hover {
  text-decoration: underline;
}

/* nsvbar Close Button */
.navbar-close {
  float: right;
  font-size: 80px;
  margin-top: 1%;
  margin-right: 2%;
}

.navbar-close:hover,
.navbar-close:focus {
  color: #000;
  cursor: pointer;
}

.navbar-title {
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 35px;
  font-weight: bold;
}

.navbar-social {
  font-size: 50px;
  margin-left: 5%;
}



.parallax {
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* primary background */
.primary-background {
  height: 100%;
  background-color: #b52424;
  font-size: 36px;
}
.parallax1 {
  background-image: url("img/1.jpg");
}

.parallax2 {
  background-image: url("img/team.jpeg");
}

.parallax3 {
  background-image: url("img/works.jpeg");
}



/* Title */
.title {
  font-family: "Yanone Kaffeesatz";
  font-size: 80px;
  padding-top: 4%;
}

/* SUbtitle */
.subtitle {
  font-size: 25px;
}

/* Page-Content */
.flex-content {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 2%;
  padding-right: 10%;
  padding-left: 10%;
}

/* Inner Page Content */
.flex-content > div {
  width: 30%;
  height: 400px;
  background-color: #b52424;
  margin: auto;
}

/* Inner Page Content Hover Effect */
.flex-content-div-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.flex-content > div:hover .flex-content-div-overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.flex-content-div-title {
  position: relative;
  top: 50%;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  z-index: 1;
  transition: top 0.5s ease;
}

.flex-content > div:hover .flex-content-div-title {
  top: 40%;
}

.flex-content-div-view {
  position: relative;
  top: 50%;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.flex-content-div-view a {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  border: 2px solid black;
  padding: 5px 40px;
}
.flex-content > div:hover .flex-content-div-view {
  opacity: 1;
}

/* Page Content 2 */

.flex-content-2 {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.flex-content-2 > div {
  width: 45%;
  margin: auto;
  padding-top: 2%;
  font-size: 25px;
}

/* Header */
.flex-header {
  display: flex;
  flex-direction: row;
  background-color: brown;
  height: 40%;
}
.flex-header > div {
  padding-top: 5%;
}

.site-name {
  width: 85%;
  font-family: "Yanone Kaffeesatz";
  font-size: 120px;
}
.menu {
  position: fixed;
  right: 0;
  width: 15%;
  font-size: 50px;
}

/* Slider */
.slider {
  height: 60%;
  background-image: url("img/works.jpeg");
}

.slider > div {
  padding-top: 20%;
}
.slider a {
  color: #ffffff;
  font-size: 50px;
}
.slider a:hover {
  color: #b52424;
}

/* Footer */
.footer {
  height: 5%;
  padding-top: 0.5%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  margin: auto;
  color: #000;
  font-size: 15px;
}

.footer > div {
  margin: auto;
}

.footer a {
  color: #000;
  font-size: 15px;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: overline;
}

/* developer link */
.developer-link {
  color: #000;
  font-size: 15px;
}

.developer-link-before {
  position: absolute;
  opacity: 1;
  transition: opacity 0.35s ease;
}
.developer-link:hover .developer-link-before {
  opacity: 0;
}

.developer-link-after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.developer-link:hover .developer-link-after {
  opacity: 1;
  cursor: pointer;
}

/* Team */
.flex-content-team {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 4%;
  padding-right: 10%;
  padding-left: 10%;
}

/* Inner Page Content */
.flex-content-team > div {
  width: 35%;
  height: 300px;
  background-color: #b52424;
  margin: auto;
}

.flex-content-team>div img{
  width: 100%;
  height: 100%;
  margin: auto;
}
.flex-content-team-div-overlay{
  width: 100%;
  height: 100%;
      transition: .5s ease;
      opacity: 0;
      background-color: #000;
      transform: translate(-0%, -100%);
    
}
.flex-content-team-title{
padding-top: 50%;
  font-size: 25px;
  
}
.flex-content-team-position{
  font-size: 15px;
}
.flex-content-team>div:hover .flex-content-team-div-overlay{
  opacity: 0.5;
}
